In [3]:
import numpy as np
import pandas as pd
df = pd.read_csv('heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [5]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [6]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [7]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20, random_state=13)
from sklearn.svm import SVR
svr=SVR(kernel='linear')

In [9]:
svr.fit(x_train,y_train)

SVR(kernel='linear')

In [10]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train,y_train)

StandardScaler()

In [11]:
y_pred=svr.predict(x_test)
y_pred

array([ 0.42796917,  1.00738841,  1.2218493 ,  0.92197872,  0.60513802,
        0.09869463,  0.2947195 ,  0.33928829,  0.68315267,  0.53272394,
        0.74534699,  0.79633489,  0.30471093,  0.56625763,  0.90493585,
        0.6597306 ,  0.66883481,  0.27935789,  0.65096845, -0.05247997,
        0.69749364,  0.31658965,  0.96580263, -0.20467007,  1.00041504,
        1.08481034,  1.02139336,  0.71072763,  0.09227855,  0.07027998,
        0.7774216 ,  0.07096817,  0.16032694,  1.08734226,  0.4571856 ,
        0.25518327,  0.77425283,  0.20391884,  0.60042275,  0.72328427,
        1.1452249 ,  0.61830307,  0.36298314,  0.9860227 ,  0.42930102,
        0.68816632,  0.77433575,  0.50432   ,  0.8585686 ,  0.78385481,
        0.94939609, -0.04369272,  1.17914163,  0.52997483,  1.072941  ,
        0.27211313,  0.24320748,  0.92985814,  0.84204194,  0.96998202,
        1.07108585])

In [12]:
from sklearn.metrics import r2_score
score=r2_score(y_pred,y_test)
score

-0.008070147929251092

In [13]:
from sklearn.model_selection import GridSearchCV
param_grid={'C':[0.1,1,10,100,1000],'gamma':[1,0.1,0.01,0.01,0.0001],'kernel':['linear']}
regressor=SVR()

In [14]:
grid=GridSearchCV(SVR(),param_grid=param_grid,refit=True,cv=5,verbose=3)

In [ ]:
grid.fit(x_train,y_train)

Fitting 5 folds for each of 25 candidates, totalling 125 fits
[CV 1/5] END .....C=0.1, gamma=1, kernel=linear;, score=0.433 total time=   0.2s
[CV 2/5] END .....C=0.1, gamma=1, kernel=linear;, score=0.566 total time=   0.2s
[CV 3/5] END .....C=0.1, gamma=1, kernel=linear;, score=0.342 total time=   0.2s
[CV 4/5] END .....C=0.1, gamma=1, kernel=linear;, score=0.346 total time=   0.2s
[CV 5/5] END .....C=0.1, gamma=1, kernel=linear;, score=0.422 total time=   0.2s
[CV 1/5] END ...C=0.1, gamma=0.1, kernel=linear;, score=0.433 total time=   0.2s
[CV 2/5] END ...C=0.1, gamma=0.1, kernel=linear;, score=0.566 total time=   0.2s
[CV 3/5] END ...C=0.1, gamma=0.1, kernel=linear;, score=0.342 total time=   0.2s
[CV 4/5] END ...C=0.1, gamma=0.1, kernel=linear;, score=0.346 total time=   0.2s
[CV 5/5] END ...C=0.1, gamma=0.1, kernel=linear;, score=0.422 total time=   0.2s
[CV 1/5] END ..C=0.1, gamma=0.01, kernel=linear;, score=0.433 total time=   0.2s
[CV 2/5] END ..C=0.1, gamma=0.01, kernel=linear;, score=0.566 total time=   0.2s
[CV 3/5] END ..C=0.1, gamma=0.01, kernel=linear;, score=0.342 total time=   0.2s
[CV 4/5] END ..C=0.1, gamma=0.01, kernel=linear;, score=0.346 total time=   0.2s
[CV 5/5] END ..C=0.1, gamma=0.01, kernel=linear;, score=0.422 total time=   0.2s
[CV 1/5] END ..C=0.1, gamma=0.01, kernel=linear;, score=0.433 total time=   0.2s
[CV 2/5] END ..C=0.1, gamma=0.01, kernel=linear;, score=0.566 total time=   0.2s
[CV 3/5] END ..C=0.1, gamma=0.01, kernel=linear;, score=0.342 total time=   0.2s
[CV 4/5] END ..C=0.1, gamma=0.01, kernel=linear;, score=0.346 total time=   0.2s
[CV 5/5] END ..C=0.1, gamma=0.01, kernel=linear;, score=0.422 total time=   0.2s
[CV 1/5] END C=0.1, gamma=0.0001, kernel=linear;, score=0.433 total time=   0.2s
[CV 2/5] END C=0.1, gamma=0.0001, kernel=linear;, score=0.566 total time=   0.2s
[CV 3/5] END C=0.1, gamma=0.0001, kernel=linear;, score=0.342 total time=   0.2s
[CV 4/5] END C=0.1, gamma=0.0001, kernel=linear;, score=0.346 total time=   0.2s
[CV 5/5] END C=0.1, gamma=0.0001, kernel=linear;, score=0.422 total time=   0.2s
[CV 1/5] END .......C=1, gamma=1, kernel=linear;, score=0.440 total time=   4.5s
[CV 2/5] END .......C=1, gamma=1, kernel=linear;, score=0.559 total time=   4.2s
[CV 3/5] END .......C=1, gamma=1, kernel=linear;, score=0.351 total time=   5.4s
[CV 4/5] END .......C=1, gamma=1, kernel=linear;, score=0.344 total time=   2.5s
[CV 5/5] END .......C=1, gamma=1, kernel=linear;, score=0.407 total time=   4.6s
[CV 1/5] END .....C=1, gamma=0.1, kernel=linear;, score=0.440 total time=   5.0s
[CV 2/5] END .....C=1, gamma=0.1, kernel=linear;, score=0.559 total time=   4.5s
[CV 3/5] END .....C=1, gamma=0.1, kernel=linear;, score=0.351 total time=   4.5s
[CV 4/5] END .....C=1, gamma=0.1, kernel=linear;, score=0.344 total time=   1.7s
[CV 5/5] END .....C=1, gamma=0.1, kernel=linear;, score=0.407 total time=   3.7s
[CV 1/5] END ....C=1, gamma=0.01, kernel=linear;, score=0.440 total time=   4.7s
[CV 2/5] END ....C=1, gamma=0.01, kernel=linear;, score=0.559 total time=   4.3s
[CV 3/5] END ....C=1, gamma=0.01, kernel=linear;, score=0.351 total time=   4.6s
[CV 4/5] END ....C=1, gamma=0.01, kernel=linear;, score=0.344 total time=   1.7s
[CV 5/5] END ....C=1, gamma=0.01, kernel=linear;, score=0.407 total time=   3.8s
[CV 1/5] END ....C=1, gamma=0.01, kernel=linear;, score=0.440 total time=   4.8s
[CV 2/5] END ....C=1, gamma=0.01, kernel=linear;, score=0.559 total time=   4.6s
[CV 3/5] END ....C=1, gamma=0.01, kernel=linear;, score=0.351 total time=   4.3s
[CV 4/5] END ....C=1, gamma=0.01, kernel=linear;, score=0.344 total time=   1.7s
[CV 5/5] END ....C=1, gamma=0.01, kernel=linear;, score=0.407 total time=   3.8s
[CV 1/5] END ..C=1, gamma=0.0001, kernel=linear;, score=0.440 total time=   4.6s
[CV 2/5] END ..C=1, gamma=0.0001, kernel=linear;, score=0.559 total time=   4.9s
[CV 3/5] END ..C=1, gamma=0.0001, kernel=linear;, score=0.351 total time=   4.6s
[CV 4/5] END ..C=1, gamma=0.0001, kernel=linear;, score=0.344 total time=   1.7s
[CV 5/5] END ..C=1, gamma=0.0001, kernel=linear;, score=0.407 total time=   3.8s
[CV 1/5] END ......C=10, gamma=1, kernel=linear;, score=0.324 total time=  26.0s
[CV 2/5] END ......C=10, gamma=1, kernel=linear;, score=0.248 total time=  22.1s
[CV 3/5] END ......C=10, gamma=1, kernel=linear;, score=0.074 total time=  17.8s
[CV 4/5] END .....C=10, gamma=1, kernel=linear;, score=-0.442 total time=  23.7s
[CV 5/5] END ......C=10, gamma=1, kernel=linear;, score=0.426 total time=  32.6s
[CV 1/5] END ....C=10, gamma=0.1, kernel=linear;, score=0.324 total time=  25.7s
[CV 2/5] END ....C=10, gamma=0.1, kernel=linear;, score=0.248 total time=  22.4s
[CV 3/5] END ....C=10, gamma=0.1, kernel=linear;, score=0.074 total time=  17.6s
[CV 4/5] END ...C=10, gamma=0.1, kernel=linear;, score=-0.442 total time=  28.0s
[CV 5/5] END ....C=10, gamma=0.1, kernel=linear;, score=0.426 total time=  42.3s
[CV 1/5] END ...C=10, gamma=0.01, kernel=linear;, score=0.324 total time=  25.8s
[CV 2/5] END ...C=10, gamma=0.01, kernel=linear;, score=0.248 total time=  21.3s
[CV 3/5] END ...C=10, gamma=0.01, kernel=linear;, score=0.074 total time=  18.0s
[CV 4/5] END ..C=10, gamma=0.01, kernel=linear;, score=-0.442 total time=  27.9s
[CV 5/5] END ...C=10, gamma=0.01, kernel=linear;, score=0.426 total time=  42.2s

In [ ]:
grid.best_params_

In [ ]:
y_pred_test=regressor.predict(x_test)
y_pred_test,y_test

In [ ]:
from sklearn.metrics import mean_squared_error,mean_absolute_error
mse=mean_squared_error(y_test,y_pred_test)
mae=mean_absolute_error(y_test,y_pred_test)
rmse=np.sqrt(mse)
print(mse)
print(mae)
print(rmse)